[run]
omit =
    ../*admin*
    ../*migrations*
    */test/*
    */tests/*
    */*tests*.py
    gamma/settings/base.py
    gamma/wsgi.py
    manage.py
    *settings*
    conftest.py
    api/v0/views.py
