**/node_modules
**/build
**/bower_components
**/webpack_bundles
webpack-stats-*.json
.*
!.conf
!.pylintrc
!.coveragerc
envs/private.env
Dockerfile*
prod.yml
dev.yml
docker-compose.yml
docker-compose*.yml
