db.*
__pycache__
*.pyc
local.py
gamma/static/
gamma/media/
.idea
.DS_Store
.coverage
*cache*
*.log
.vscode/
celerybeat-schedule
coverage.xml
node_modules/
package-lock.json
dist/
webpack-stats-dev.json
webpack-stats-prod.json
webpack_bundles/
private.env
