.gamification-modal-dialog {
  .badge-modal-information,
  .badge-modal-image {
    border-bottom: 1px solid $light-400;

    .badge-modal-active .pgn__form-label {
      font-size: $font-size-sm;
    }
  }

  .badge-modal-feedback.pgn__form-text {
    font-size: $font-size-xs;
  }

  .badge-image-preview {
    width: 9.375rem;
    height: 9.375rem;
    object-fit: cover;
  }
}
