.badge-item {
  @media (max-width: map-get($grid-breakpoints, "sm")) {
    max-height: max-content;
  }

  .badge-item-img.pgn__card-wrapper-image-cap.horizontal {
    max-width: $badge-item-dimension;
    min-width: $badge-item-dimension;
  }

  &.pgn__card .pgn__card-section {
    width: 100%;

    .pgn__card-section-title {
      font-size: $font-size-base;
    }
  }

  .badge-item-description {
    font-size: $font-size-sm;
  }
}
