.avatar-set-stepper-container .avatar-stepper-action-row.pgn__action-row {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: $spacer;
  background: $white;
  border-top: 1px solid $gray-200;
  z-index: $zindex-fixed;
}

.toast-container:has(.avatars-settings-toast) {
  bottom: 5.625rem;

  .toast-header-btn-container {
    display: none;
  }
}

.avatar-set-stepper.pgn__modal.pgn__modal-visible-overflow {
  .pgn__modal-body {
    overflow-x: scroll;

    .pgn__modal-body-content {
      margin-bottom: 6.25rem;
    }
  }

  .btn.btn-outline-secondary.add-avatar-stage-btn {
    border: 1px dashed $gray-500;
    width: $avatar-stage-size;
    height: $avatar-stage-size;
    border-radius: 0;
    flex-direction: column;

    .btn-icon-before {
      margin-bottom: 0.625rem;
      margin-inline-end: 0;
      margin-left: 0;
    }

    &:focus:before {
      border-radius: 0;
    }
  }

  .avatar-stage-image {
    width: $avatar-stage-size;
    height: $avatar-stage-size;
    min-height: $avatar-stage-size;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacer;
    border: 1px solid $light-500;

    .pgn__dropzone-generic-alert {
      width: 16.813rem;
      margin-bottom: 1.5rem;
      position: absolute;
      bottom: 2.5rem;
      border-radius: 0;
      box-shadow: none;
      padding: 0.313rem 0.625rem;
    }

    .avatar-stage-image-title {
      margin-bottom: 0.625rem;
      flex-shrink: 0;
    }

    .pgn__dropzone {
      font-size: 0.875rem;
      flex-grow: 1;
      flex-basis: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      .pgn__dropzone__upload-restriction-message {
        display: none;
      }
    }

    .avatar-stage-image-preview {
      max-width: 100%;
      max-height: 60%;
      object-fit: contain;
      flex-grow: 1;
    }

    .avatar-stage-image-remove-btn {
      width: 100%;
      flex-shrink: 0;
      margin-top: auto;
    }
  }
}
