.dropdown {
  position: relative;
  color: #2D3648;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  padding: 12px 16px 12px 48px;
  border-radius: 8px;
  border: 1px solid transparent;
  background: #F6F2FD;
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border: 2px solid #0F62FE;
  background: #0F62FE;
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.5px;
  width: 100%;
  padding: 16px;
  cursor: pointer;
}
.button-disabled {
  background: #b287c1 !important;
  border: 2px solid #F6F2FD !important;
}
.arrow-right  {
  width: 24px;
  height: 24px;
  background: url("./../images/icon-arrow-right.svg");
}

.povir-title {
  color: #1A202C;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 16px;
}
.welcome {
  color: #1E1E1E;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
  max-width: 500px;
  margin: 0 auto;
}

.points {
  color: #0F62FE;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.5px;
}
.i-star {
  width: 24px;
  height: 24px;
  background: url("./../images/icon-star-blue.svg");
}

.modal-accept {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  /*opacity: 0.8;*/
  background: #1A202C;
  z-index: 5;
}

.code{
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
}
.code input {
  border: none;
  text-align: center;
  padding: 12px 16px;
  width: 25%;
  height: 48px;
  font-size: 36px;
  border-bottom: 1px solid #C1C7CD;
  background: #F2F4F8;
}
.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-accept {
  color: #00AB90;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-decoration-line: underline;
  background: #fff;
  border: none;
  padding: 0;
}
.error-container {
  max-width: 500px;
  margin: auto;
  width: 100%;
}
.error-title {
  color: #1A202C;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-top: 40px;
}
.error-description {
  color: #1E1E1E;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.16px;
  margin-top: 16px;
}
.authorization-button {
  margin: 40px auto 0;
  max-width: fit-content;
}
.footer-policy {
  color: #21272A;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.footer-policy-link {
  color: #21272A;
  text-decoration-line: underline;
}

.arrow-left {
  width: 24px;
  height: 24px;
  background: url("./../images/icon-arrow-right.svg");
  transform: rotate(180deg);
}

.error-block {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 40%;
  width: 626px;
  background: #FFF;
  border-radius: 16px;
  padding: 52px 40px;
  z-index: 20;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block;
}

/*Tabs*/

.tablinks {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
}

.tablinks.active {
    background-color: #ddd;
}

.confirmation_dropdown {
  position: absolute;
  padding: 1% 3%;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.d-flex {
    display: flex;
}

.rating_star {
    display: inline-flex;
    width: 52px;
    height: 52px;
}

.empty_rating_star {
    background: url("./../images/purple_star.svg");
}

.filled_rating_star {
    background: url("./../images/green_star.svg");
}

.disabled-item {
    cursor: not-allowed !important;
}

.remove-element {
    background-color: #ffcccc;
    transition: background-color 0.5s ease;
}

.add-element {
    background-color: rgba(204, 255, 204, 1);
}

.normal-element {
    background-color: #ffffff;
    transition: background-color 0.5s ease;
}

.is-reserved {
  opacity: 0.5;
}

.is-reserved .btn-secondary:hover {
  color: #421851;
  background-color: #f6f2fd;
}


#studentContract .signature-pad {
  cursor: url(pen.png) 1 26, pointer;
  border: 2px solid #000;
  border-radius: 4px;
}

#studentContract .clear-button {
  color: #000;
}

#studentContract .submit-button {
  width: 100%;
  background-color: #000;
  border: none;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  margin-top: 2rem;
}

.text-gray {
  border-radius: 6px;
  background: #DCDCDC;
  padding: 2px 8px;
  color: #000000;
  font: 500 24px / 1.2 ProbaPro, Roboto, Helvetica, sans-serif;
}

.support {
   cursor: pointer;
}

a.is-disabled {
    pointer-events: none;
    cursor: pointer;
}

#loading img {
  margin: 24px auto 1px;
  display: block;
  height: 32px;
}

#waitingLoadScheduleForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
