.avatar-set-item.pgn__card {
  .avatar-set-item-image.pgn__card-wrapper-image-cap.vertical {
    max-height: $avatar-set-item-image-height;
    height: $avatar-set-item-image-height;

    .pgn__card-image-cap {
      height: 100%;
    }
  }

  .avatar-set-item-header.pgn__card-header {
    .pgn__card-header-content {
      margin: $spacer 0;
    }

    .pgn__card-header-title-md {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
