body.login {
    .submit-row {
        padding: 1em 0 0;
        text-align: right;
    }

    #content {
        box-sizing: border-box;
    }
}

body:not(.login) #container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#header {
    background: $admin-header-bg;
    color: $admin-header-color;
    position: relative;
    padding: 15px 40px;
    box-sizing: border-box;
    height: auto;
    min-height: 70px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a:link,
    a:visited {
        color: $base-color-light;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: none;

        &:hover,
        &:focus {
            color: lighten($base-color-light, 10%);
        }
    }
}

#branding {
    min-width: 312px;
    margin-right: 20px;

    h1 {
        margin-right: 0;

        &,
        a:link,
        a:visited {
            color: $admin-header-color;
            font-size: 22px;
            text-transform: none;
        }

        a {
            &:hover,
            &:focus {
                color: lighten($admin-header-color, 10%) !important;
            }
        }
    }
}

#user-tools {
    line-height: normal;
    letter-spacing: 0;

    a {
        font-weight: 600;
        display: inline-block;
        margin: 5px 0 5px 35px;

        &:first-child {
            margin-left: 0;
        }
    }
}

#content {
    padding: 40px;
    flex: 1 1 auto;
    width: 100%;

    .dashboard & {
        width: 100%;
        max-width: 945px;

        #content-related ~ #content-main {
            width: calc(100% - 40px - 275px);
        }

        #content-main {
            .module {
                border-radius: 10px;
                overflow: hidden;
            }
        }
    }

    .form-row {
        border-bottom-color: #ccc;
    }
}

#changelist-form {
    border-radius: 10px;
    overflow: hidden;

    .model-achievement & {
        overflow: visible;
    }

    table {
        tr:nth-child(even) {
            background: #f9f9f9;
        }
    }
}

.module {
    table {
        tr {
            background: #fff;
        }

        th {
            font-weight: 600;
            padding: 9px 8px;
        }
    }
}

.module h2,
.module caption,
.inline-group h2 {
    background: #42abd8;
    font-weight: 600;
}

.selector {
    .selector-available h2 {
        background: #f8f8f8;
    }

    .selector-chosen h2 {
        background: #42abd8;
    }
}

#content-related {
    width: 275px;
    margin-right: 0;
    border-radius: 10px;

    .module h2 {
        font-weight: 600;
        margin-bottom: 20px;
    }
}

#footer {
    min-height: 50px;
    background: $base-color;
    margin-top: 20px;
    flex-shrink: 0;
}

#toolbar {
    border-radius: 10px;
}

#changelist-filter {
    border-radius: 10px;
    overflow: hidden;

    h2 {
        background: #42abd8;
        font-weight: 600;
    }

    li {
        &.selected {
            border-left-color: #42abd8 !important;
        }
    }
}

.breadcrumbs-wrapper {
    background: $base-color-light;
    padding: 0 40px;

    .breadcrumbs {
        background: transparent;
        color: #addbef;
        padding: 6px 0;
        line-height: 18px;

        a {
            font-size: 14px;
            font-weight: 600;
            margin: 0 5px;

            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}

.wrapper,
.breadcrumbs-wrapper .breadcrumbs {
    max-width: 945px;
    margin: 0 auto;
}

.welcome-text {
    font-weight: 300;
    display: flex;
    align-items: center;
    line-height: 20px;

    span {
        color: #e9e9e9;
        margin-left: 5px;
        max-width: 150px;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.object-tools {
    margin-top: -55px;
}
