@include font-face("Exo2", "../font/Exo-ExtraLight", 200, normal);
@include font-face("Exo2", "../font/Exo-Light", 300, normal);
@include font-face("Exo2", "../font/Exo-LightItalic", 300, 'italic');
@include font-face("Exo2", "../font/Exo-Regular", 400, normal);
@include font-face("Exo2", "../font/Exo-Medium", 500, normal);
@include font-face("Exo2", "../font/Exo-SemiBold", 600, normal);
@include font-face("Exo2", "../font/Exo-Bold", 700, normal);
@include font-face("Exo2", "../font/Exo-Black", 800, normal);

html, body {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    background: $body-background;
}

#content {
    font-family: "Exo2", "Roboto", "Helvetica", "Arial", sans-serif !important;
    color: $color-text-dark;
    font-weight: 400;
    font-size: 12px;
    max-width: 945px;
    margin: 0 auto;

    > h1 {
        color: #3caada;
        font-size: 20px;
        line-height: normal;
        font-weight: 600;
        text-transform: uppercase;
        border-bottom: 2px solid rgba($base-color, .3);
    }

    .object-tools a.addlink {
        font-size: 16px;
        color: #3caada;
        background-color: transparent;
        padding: 0 0 0 18px;
        background-position: 0 center;
        font-weight: 600;
        background-image: url(../images/tooltag-add.svg);
        background-size: 16px;
    }

    .Btn {
        font-size: 12px;
    }
}

#content *,
[role="dialog"] * {
    font-family: "Exo2", "Roboto", "Helvetica", "Arial", sans-serif !important;
}

.sr {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.Btn {
    min-width: 84px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: none;
    line-height: normal;
    padding: 7px 5px 6px;
    transition: all .15s linear;
    border-radius: 15px;
    text-align: center;
    font-family: "Exo", "Roboto", "Helvetica", "Arial", sans-serif !important;

    span {
        color: inherit;
        font: inherit;
        transition: none;
    }

    &:hover {
        cursor: pointer;
    }

    &:focus {
        @include custom-outline;
    }

    &:hover,
    &:focus,
    &:visited {
        text-decoration: none;
    }
}

.Btn_primary {
    background: $primary-btn-background;
    border: 2px solid $primary-btn-background;
    color: $primary-btn-color;

    &:visited,
    &:link {
        color: $primary-btn-color;
    }

    &:hover {
        background: $primary-btn-background-hover;
        color: $primary-btn-background;
    }
}

.Btn_danger {
    background: $danger-btn-background;
    border: 2px solid $danger-btn-background;
    color: $danger-btn-color;

    &:visited,
    &:link {
        color: $danger-btn-color;
    }

    &:hover {
        background: $danger-btn-background-hover;
        color: $danger-btn-background;
    }
}

.Btn_info {
    background: $primary-btn-background-hover;
    border: 2px solid $primary-btn-background;
    color: $primary-btn-background;

    &:visited,
    &:link {
        color: $primary-btn-background;
    }

    &:hover {
        background: $primary-btn-background;
        color: $primary-btn-color;
    }
}

.Btn_control {
    width: 35px;
    height: 35px;
    border: 1px solid $base-white-color;
    border-radius: 5px !important;
    min-width: 35px !important;
    margin: 0 5px;
}

.Btn_edit {
    background: $base-color url(../images/edit_icon.svg) no-repeat 55% 40%;
    background-size: 15px 16px;
    transition: opacity .15s linear;

    &:hover {
        opacity: .8;
    }
}

.Btn_remove {
    background: $base-white-color url(../images/garbage.svg) no-repeat 50% 49%;
    background-size: 17px 18px;
    transition: opacity .15s linear;

    &:hover {
        opacity: .8;
    }
}

.module {
    background: $body-background;
}
