.main-page {
    background: transparent url(../images/main-background.jpg) no-repeat center top;
    background-size: cover;

    .header-nav-wrap {
        background: #232323;
        padding: 20px;
    }

    .global-nav {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.main-footer {
    height: 200px;
    background: $base-color;
    margin-top: 50px;
}

.highcharts-background {
    fill: transparent;
}

.highcharts-contextbutton:hover {
    cursor: pointer;
    opacity: .8;
}

.highcharts-credits {
    display: none !important;
}

.ChartHolder {
    max-width:1165px;
    margin:70px auto 55px;
    padding: 0 15px;
    color: #bcbcbc;
}

.ChartHolderRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ChartBlock {
    width: calc(50% - 1px);
    min-height: 400px;
    margin-bottom: 2px;
    background: rgba(#fff, .1);
    padding: 15px;
    box-sizing: border-box;
    position: relative;

    &:before {
        content: '';
        display: block;
        width: calc(100% - 60px);
        height: 2px;
        background: rgba($base-color, .3);
        position: absolute;
        left: 30px;
        top: 45px;
    }

    .ChartBlock + & {
        margin-left: 2px;
    }
}

.ChartBlock_first {
    border-radius: 20px 0 0 0;
}

.ChartBlock_second {
    border-radius: 0 20px 0 0;
}

.ChartBlock_last {
    border-radius: 0 0 20px 20px;
}

.ChartBlock_full {
    width: 100%;
    margin-left: 0;
}

.ChartBlockHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.ChartBlockHeader {
    margin: 5px 14px;
}

.ChartBlock-Title,
.ChartBlock-Status {
    color: $base-color-light;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 6px;
    line-height: normal;
}

.ChartBlock-Status {
    font-size: 16px;
    text-transform: none;

    span {
        font: inherit;
    }
}

.ChartBlock-Description {
    color: #bcbcbc;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;

    &:empty {
        display: none;
    }
}

.BadgesList {
    display: flex;
    justify-content: space-around;
    flex: 0 0 115px;
    margin-top: 40px;
}

.BadgeItem {
    text-align: center;
    position: relative;

    &:hover {
        cursor: pointer;
    }
}

.BadgeItem_center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 20px 15px;
}

.BadgeItem-Name {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #bcbcbc;
}

.BadgeItemFigure {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 10px;
}

.BadgeItemFigure_disable {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.BadgeItemFigure-Image {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.BadgeItemPopup {
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
    position: absolute;
    top: 100%;
    min-width: 275px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 16px;
    z-index: 10;

    &:before {
        content: '';
        width: 14px;
        height: 14px;
        background: #495860;
        position: absolute;
        top: 18px;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .BadgeItem:hover & {
        visibility: visible;
        opacity: 1;
    }
}

.BadgeItemPopup-Head {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: #3caada;
    background: #495860;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 15px;
}

.BadgeItemPopup-Body {
    border: 2px solid #495860;
    border-top: none;
    padding: 16px 17px;
    background: #383838;
}

.BadgeItemPopupList {
    list-style: none;
    margin: 0;
}

.BadgeItemPopupList-Item {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    color: #bcbcbc;
    margin-bottom: 6px;
    line-height: normal;

    &:last-child {
        margin-bottom: 0;
    }
}

.BadgeItemPopupList-Counter {
    font-weight: 700;
    color: #3caada;
    font-size: inherit;
    margin-right: 10px;
}

.ChartControls {
    text-align: center;
    margin-top: 30px;
}

.highcharts-container  {
    overflow: visible !important;
}

.highcharts-menu {
    background: #fafafa !important;
    box-shadow: 0 0 9px 1px rgba(37, 37, 37, 0.2) !important;
    border: 1px solid #fff !important;
    border-radius: 10px;
    padding: 12px 0 !important;
    min-width: 195px;
    margin: 10px -18px 0 0;
    position: relative;

    &:before {
        content: '';
        display: inline-block;
        position: absolute;
        width: 12px;
        height: 12px;
        background: #fafafa;
        top: -6px;
        right: 21px;
        transform: rotate(45deg);
    }

    hr {
        margin: 2px 0;
    }
}

.highcharts-menu-item {
    color: #3e3e3e;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 20px !important;
    font-weight: 500;

    &:hover {
        color: #fafafa !important;
        background: #3caada !important;
    }
}

.highcharts-title > * {
    font-weight: inherit;
}
