{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'en' }}">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link rel="icon" href="{% static 'gamma/dist/favicon.ico' %}" type="image/x-icon">

        <title>{% block title %}{% trans "Gamma App" %}{% endblock %}</title>

        {% block css %}
        {% endblock %}
    </head>

    <body>
        {% block content %}
        {% endblock %}

        {% block js %}
        {% endblock %}
    </body>
</html>
