<section class="Achievement">
        <script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
        {% for achievement in achievements %}
        <div class="Achievement-Item">
            <div class="Achievement-Info">
                <figure class="Achievement-Figure" style="background-image: url({{ achievement.badge_img.url }})">
                    <img src="{{ achievement.badge_img.url }}" alt="" class="Achievement-Img">
                </figure>
                <div class="Achievement-Content">
                    <div class="Achievement-Title">{{achievement.title}}</div>
                    <div class="Achievement-Description">
                        {{ achievement.description }}
                    </div>
                </div>
                <div class="Achievement-Controls">
                    <a href="#/edit-rules/{{ achievement.slug }}" class="Btn Btn_danger">Edit rules</a>
                    <div class="Achievement-ControlsHover">
                        <!-- <label class="AchievementForm-CheckBlock">
                            <input type="checkbox" class="AchievementForm-CheckInput">
                            <span class="AchievementForm-CheckIcon"></span>
                        </label> -->
                        <button class="Btn Btn-Primary Btn_control Btn_edit edit-achievement-click">
                            <span class="sr">edit</span>
                        </button>
                        <button class="Btn Btn-Default Btn_control Btn_remove delete-achievement-click" data-slug="{{ achievement.slug }}">
                            <span class="sr">remove</span>
                        </button>
                    </div>
                </div>
            </div>
            <form class="AchievementForm" id="form-{{ achievement.id }}" enctype="multipart/form-data">
                <div class="AchievementForm-Wrapper">
                    <div class="AchievementForm-Title">Change achievement</div>
                    <div class="AchievementForm-Block">
                        <div class="AchievementFormGroup">
                            <label for="">Title</label>
                            <input type="text" name="title" id="title-{{ achievement.id }}" value="{{achievement.title}}">
                        </div>
                        <div class="AchievementFormGroup">
                            <label for="">Description</label>
                            <textarea id="" name="description">{{ achievement.description }}</textarea>
                        </div>
                    </div>
                    <div class="AchievementForm-Block">
                        <div class="AchievementFormGroup AchievementForm-Group_combined">
                            <figure class="AchievementForm-Figure" style="background-image: url({{ achievement.badge_img.url }})">
                                <img src="{{ achievement.badge_img.url }}" alt="" class="AchievementForm-Img">
                            </figure>
                            <div class="AchievementForm-GroupWrapper">
                                <label for="">Image</label>
                                <!--<input type="file" id="" name="badge_img" value="{{ achievement.badge_img.file }}">-->


                                <div class="FileInput">
                                    <input type="file" class="image-upload" name="badge_img">
                                    <span class="FileInput-Label" data-js-label>{{ achievement.badge_img_name }}</span>
                                    <span class="FileInput-Btn">Choose</span>
                                </div>


                            </div>
                        </div>
                        <div class="AchievementFormGroup">
                            <label for="">Slug</label>
                            <input type="text" id="slug-{{ achievement.id }}" value="{{ achievement.slug }}" name="slug">
                        </div>
                        <div class="AchievementFormGroup">
                            <label for="">Badge id</label>
                            <input type="text" id="" value="{{ achievement.badge_id }}">
                        </div>
                    </div>
                    <div class="AchievementForm-Controls">
                        <button class="Btn Btn_primary save-achievement-click" data-form-id="{{ achievement.id }}">Save</button>
                        <button class="Btn Btn_info cancel-achievement-click">Cancel</button>
                    </div>
                    <script>
                    $("#slug-{{ achievement.id }}").off('change keyup keydown');
                    $("#title-{{ achievement.id }}").on('change keyup keydown', function() {
                        $("#slug-{{ achievement.id }}").val(
                            URLify(
                                $("#title-{{ achievement.id }}").val(), 50
                            )
                        );
                    });
                </script>
                </div>
            </form>
        </div>
        {% endfor %}
        {% csrf_token %}
    </section>
    <script type="text/javascript">
        (function($) {
            $.fn.serializefiles = function() {
                var obj = $(this);
                var formData = new FormData();
                $.each($(obj).find("input[type='file']"), function(i, tag) {
                    $.each($(tag)[0].files, function(i, file) {
                        formData.append(tag.name, file);
                    });
                });
                var params = $(obj).serializeArray();
                $.each(params, function (i, val) {
                    formData.append(val.name, val.value);
                });
                return formData;
        };
        })(jQuery);

        const headers = {
            'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()
        }
        const url = "{% url 'api:v0:achievements' %}";

        $(document).ready(() => {
            // Save changes
            $('.save-achievement-click').click((event) => {
                event.preventDefault();
                let formId = $(event.currentTarget).data('formId');
                let form = $('#form-'+ formId);
                $.ajax({
                    url: url,
                    data: form.serializefiles(),
                    method: "POST",
                    processData: false,
                    cache: false,
                    contentType: false,
                    headers: headers,
                    success: (resp, xhr, settings)=>{
                        if (settings.status === 200) {
                            window.location.reload();
                        }
                    }
                })
            });

            $('.delete-achievement-click').click((event) => {
                event.preventDefault();
                let slug = $(event.currentTarget).data('slug');
                let confirmed = confirm(`Do you really want to delete achievement with slug "${slug}"`);
                if (confirmed) {
                    $.ajax({
                        url: url,
                        method: 'DELETE',
                        data: {slug: slug},
                        headers: headers,
                        success: (resp, xhr, settings)=>{
                            if (settings.status === 200) {
                                window.location.reload();
                            }
                        }
                    })
                }
            })


            $('.cancel-achievement-click').on('click', function(event) {
                event.preventDefault();
                const item = $(this).parents('.AchievementForm');
                item.slideUp();
            });

                $('.edit-achievement-click').on('click', function(event) {
                event.preventDefault();
                const item = $(this).parents('.Achievement-Info').next('.AchievementForm');
                const itemOther = $('.edit-achievement-click').not($(this)).parents('.Achievement-Info').next('.AchievementForm');
                itemOther.slideUp();
                item.slideToggle();
            });

            const inputs = document.querySelectorAll('.FileInput');
            for (let i = 0, len = inputs.length; i < len; i++) {
            customInput(inputs[i])
            }

        function customInput (el) {
            const fileInput = el.querySelector('[type="file"]');
            const label = el.querySelector('[data-js-label]');

            fileInput.onchange = fileInput.onmouseout = function () {
                if (!fileInput.value) return;

                const value = fileInput.value.replace(/^.*[\\\/]/, '');
                label.innerText = value;
            }
        }

        $('.image-upload').change((e) => {
            let reader = new FileReader();
            let img;
            let input = $(e.target).get(0);
            if (input.files.length) {
                img = input.files[0];
            }
            reader.onload = function (event) {
                $(e.target).parent().parent().parent().find('figure').css('background-image', "url(" + event.target.result + ")");
            }
            if (img) {
                reader.readAsDataURL(img);
            };

        });
    });

</script>
