.card-item.pgn__card {
  .locked-image {
    filter: opacity(0.5);
  }

  .card-item-image.pgn__card-wrapper-image-cap.vertical {
    max-height: $card-item-image-height;
    height: $card-item-image-height;

    .pgn__card-image-cap {
      height: 100%;
    }
  }

  .card-item-badge {
    position: absolute;
    right: $spacer;
    top: $spacer;
    z-index: 2;
  }

  .card-item-header.pgn__card-header {
    .pgn__card-header-content {
      margin: $spacer 0;
    }

    .pgn__card-header-title-md {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
