.toast-container {
  z-index: $zindex-tooltip;
  right: 1.25rem;
  left: auto;

  .toast-header p {
    font-size: $font-size-sm;
  }

  .toast.toast-component {
    &.toast-danger,
    &.toast-danger .toast-header {
      background-color: $danger;
    }

    &.toast-success,
    &.toast-success .toast-header {
      background-color: $success;
    }
  }
}
