$base-color: #45a2d6;
$color-text-dark: #222;

// popup
$popap-label-color: #777;

// popup danger btn
$danger-btn-color: #fff;
$danger-btn-background: #ef4a46;
$danger-btn-background-hover: transparent;

// popup primary btn
$primary-btn-color: #fff;
$primary-btn-background: #3caada;
$primary-btn-background-hover: transparent;
