// @font-fase
@mixin font-face($font-family, $url, $font-weight, $font-style, $font-display: 'wrap') {
    @font-face {
        font-family: '#{$font-family}';
        src: url('#{$url}.woff') format('woff'), url('#{$url}.woff2') format('woff2');
        font-weight: '#{$font-weight}';
        font-style: '#{$font-style}';
        font-display: #{$font-display};
    }
}

// custom outline
@mixin custom-outline() {
    outline: none !important;
    box-shadow: 0 0 0 1px #1f6bff !important;
}
