/* .FloatLeft {

}

.FloatRight {
} */

.Action {
    margin: 10px;
}

.Wrapper {
    width: 800px;
    margin: 0 auto;
}

.FormSubmit {
    width: 100% !important;
    margin-bottom: 20px;
}

.BlockAction {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 20px;
}

.AndOrBlock {
    display:flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.BlockAction-item {
    margin-right: 20px;
}

.AndOrButtonItem {
    margin: 20px 0 !important;
}

.ConditionDivider {
    margin-right: 20px;
}

.DatePickerBlock {
    display: flex;
    align-items: baseline;
    padding: 10px;
}

.FilterItem {
    padding: 5px;
    margin: 5px;
    background: #eaeaea;
    border-radius: 3px;
}

.Container {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.ContainerItem {
    margin: 0 20px;
}

.ActionContainer {
    width: 30%;
    margin: 0 auto;
}

.ActionItem {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.Select {
    width: 110px;
}

.TableHeading {
    text-align: center;
}

.RulesHeading {
    text-align: center;
    font-size: 16px;
}
