# Celery
CELERY_BROKER_URL=amqp://guest@rabbit
CELERY_RESULT_BACKEND=redis://redis:6379

# DB
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432

# Django
# For devstack use DJANGO_SETTINGS_MODULE=gamma.settings.devstack
DJANGO_SETTINGS_MODULE=gamma.settings.devstack

# React
# Optional react backend base url
REACT_APP_LOCALHOST=http://0.0.0.0:9000

# EDX integrarion
EDX_LMS_BASE_URL=http://<LOCAL_IP_ADDRESS>:18000
EDX_API_KEY="PUT_YOUR_API_KEY_HERE"
