{% extends "base_new.html" %}
{% load i18n googlecharts %}
{% block content %}

{% if not user.is_authenticated %}


<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid demo-content">
    You need to authenticate in order to see you achievements.
    <div class="login-button-container">
        <a href=admin/login><button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">{% trans "Login" %}</button></a>
    </div>
  </div>
</main>

{% else %}


<div class="chart-holder" style="max-width:1180px; margin:0 auto; padding: 20px 0 0;">
    <div class="chart-holder_row" style="display:flex;">
    </div>
    <div id="container-badges" style="padding: 20px 0 0;">
      <header style="text-align: center">
        <text style="color:#333333;font-size:18px;fill:#333333;width:265px;">
            Your Badges
        </text>
      </header>
    </div>
    <div id="container-statuses" style="padding: 20px 0 0;">
      <header style="text-align: center">
        <text style="color:#333333;font-size:18px;fill:#333333;width:265px;">
            Your Statuses
        </text>
      </header>
    </div>
</div>

{% endif %}
{% endblock %}
