{% load i18n %}
<html>
<head>
  <meta charset="utf-8">
  <script
    src="https://code.jquery.com/jquery-3.1.0.min.js"
    integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
    crossorigin="anonymous">
  </script>
  <script type="text/javascript">
    $(function() {
      function inIframe() {
          try {
              return window.self !== window.top;
          } catch (e) {
              return true;
          }
      }
      if(inIframe()) {
          $('.header').css('display', 'none');
          $('.footer').css('display', 'none');
      }
    });
  </script>
</head>

<body>
<div class="header">
<h2>Dummy template</h2>
</div>

{% if not user.is_authenticated %}
<div class="login-button-container">
    <a href="{% url 'login' %}"><button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">{% trans "Login" %}</button></a>
</div>
{% else %}
<div class="logout-button-container">
    <a href="{% url 'logout' %}"><button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">{% trans "Logout" %}</button></a>
</div>
{% endif %}

{% block content %}{% endblock %}

<div class="footer">
<h3>Footer</h3>
</div>

</body>
</html>
