{% load static i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en" class="js video">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <!--[if IE]><![endif]-->

<title>Gamma</title>

<!--<link type="text/css" rel="stylesheet" href='{% static "core/css/css__9cWqptSUNYq5YedfIwh33VxtugFVWjDdEsblT8GhLKI__quUjyhSfbEukHj8a0hYvzm9VTmPALmSZvA0xfM_Oxzo__H2javRi7GByYgyBbWuhhlF2IboDJydSu2R7988DMr9o.css" %}' media="all">-->
<!--<link type="text/css" rel="stylesheet" href='{% static "core/css/css__NLY9Tj4u0ZIgF0QGnXSuBTPoQDyCceQhJPCVk794X20__eRQkL05tEqKj3QX8VWWRqAtsAzgLan_2YDxtUQ8YRL8__H2javRi7GByYgyBbWuhhlF2IboDJydSu2R7988DMr9o.css" %}' media="all">-->
<!--<link type="text/css" rel="stylesheet" href='{% static "core/css/css__1tJ8hBiP39tRN9JPZMuiJtVm4vcLFTNiFGSlCY_sz8g__pYAErHGivF-CMFwb0POnQUXVJeT0A5kNSz6AcrUaeX8__H2javRi7GByYgyBbWuhhlF2IboDJydSu2R7988DMr9o.css" %}' media="all">-->
<!--<link type="text/css" rel="stylesheet" href='{% static "core/css/css__l4bPER5kJikIg-vVyUw6FN8Rvm_e5SKEaGRHoJI7wYc__Bij226NA36s3oD7Qmt5wPdF5oBGcxkK_VMVRgmeDMXo__H2javRi7GByYgyBbWuhhlF2IboDJydSu2R7988DMr9o.css" %}' media="all">-->

<!--[if IE 9]>
<link type="text/css" rel="stylesheet" href="//www.appliedmaterials.com/sites/all/themes/appliedmaterials_clean/css/ie9.css?odxqy1" media="all" />
<![endif]-->

<!--[if lt IE 9]>
<link type="text/css" rel="stylesheet" href="//www.appliedmaterials.com/sites/all/themes/appliedmaterials_clean/css/ie8.css?odxqy1" media="all" />
<![endif]-->

<!--[if lt IE 9]>
<link type="text/css" rel="stylesheet" href="//www.appliedmaterials.com/files/less/N_0Kx1bwZJhsqDTj3bfmqgf5-aP9WB9xN0Wh_zTn_OE/sites/all/themes/appliedmaterials_clean/css/video-js.XcVzbo5GbrB4v7QVES377fts6uudS0o0YbaMpBamvPg.css?odxqy1" media="all" />
<![endif]-->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<!-- NOTE: [test] footer style (no blank field) on http://0.0.0.0:9000/ -->
{% render_bundle 'core' 'css' attrs='media="all"' %}
<!--
<link rel="stylesheet" href='{% static "core/css/styles.css" %}'>
-->

<!-- NOTE: [test] styling on http://0.0.0.0:9000/ -->
{% render_bundle 'admin_panel' 'css' %}
<!--
<link rel="stylesheet" href='{% static "core/css/admin-stylesheet.css" %}'>
-->

<!--<script src='{% static "core/js/js__dWB41HViTcqoYHrbrlBHs8x9iwtFdMHpl7ME-vPjr-A__NWoPag4uXKyT6_Yl3mBIlBu2NM9SS7TGFi_DDxnFOu0__H2javRi7GByYgyBbWuhhlF2IboDJydSu2R7988DMr9o.js.download" %}'></script>-->
<!--<script src='{% static "core/js/js__TDgxF1cLtlEgJnxGz_Vfa0z9L6pO8BVaFRTBRMo4B9o__3x9wAG-AKurEnteWUei7ny_M447SMDrRLnOvUNZJyGU__H2javRi7GByYgyBbWuhhlF2IboDJydSu2R7988DMr9o.js.download" %}'></script>-->
<!--<script src='{% static "core/js/js__BHZM8xdf9Btwi-s2HhpgWwqZ7rGPCxydbTlaYzsd1uk__STpm-ylzSJ4m_imM65CnK6dyekUV2LPygsApFdNAjAE__H2javRi7GByYgyBbWuhhlF2IboDJydSu2R7988DMr9o.js.download" %}'></script>-->
<!--<script src='{% static "core/js/js__wRfwyruw_cjIYelPiwJqY_fjYEsS9cYI5YzX_bPAAMo__Ym3mzyuOIp_ITF6XrpD7D1P4XbGZUxwxrMpOmd2p2-4__H2javRi7GByYgyBbWuhhlF2IboDJydSu2R7988DMr9o.js.download" %}'></script>-->
<!--<script src='{% static "core/js/js__2AdERwI284m4prMh2ZnQnsOu1g1PxSXJ4UMjuUyG14k__WYQweH5O-apOIcH3VDZuhCJTlldVbSvlDHGbhW5k5eY__H2javRi7GByYgyBbWuhhlF2IboDJydSu2R7988DMr9o.js.download" %}'></script>-->

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<script type="text/javascript">
  $(function() {
    function inIframe() {
        try {
            return window.self !== window.top;
        } catch (e) {
            return true;
        }
    }
    if(inIframe()) {
        $('.header-nav-wrap').css('display', 'none');
        $('.footer').css('display', 'none');
    }
  });
</script>
<script>
Highcharts.setOptions({
     colors: [
         '#419e4d',
         '#4599C3',
         '#FFCD00',
         '#E87722',
         '#00B5E2',
         '#6244BB',
         '#888B8D',
         '#FF0000',
     ],
     chart: {
        style: {
            fontFamily: "'Open Sans', sans-serif"
        }
    }
});

var chartTitleStyles = {
    color: '#3caada',
    fontSize: '18px',
    textTransform: 'uppercase',
    fontFamily: 'Exo2',
    fontWeight: 600,
};

var chartSubtitleStyles = {
  color: '#bcbcbc',
  fontSize: '16px',
  lineHeight: '20px',
  fontFamily: 'Exo2',
  fontWeight: 300,
};

var chartTitleOptions = {
    buttonOptions: {
        x: -2,
        y: -5,
        symbolStroke: '#00abd9',
        theme: {
            fill: 'transparent',
            states: {
                hover: {
                    fill: 'transparent',
                },
                select: {
                    fill: 'transparent',
                }
            }
        }
    }
};

var legendOptions = {
  itemStyle: {
    color: '#bcbcbc',
      fontWeight: 'bold',
      fontSize: '12px',
      textTransform: 'uppercase'
  },
  itemHoverStyle: {
    color: '#aaa'
  }
};


$(function() {
    $.get(
        "/api/v0/points/",
        data={"username": "{{ request.user.username }}"},
        function( points ) {
            $.get(
                "/api/v0/chart/",
                data={"username": "{{ request.user.username }}"},
                function( data ) {
                    var events = [];
                    for (var key in data) {
                        events.splice(data[key][0], 0, {name: key, y : data[key][1]});
                    }
                    $('#container-chart').highcharts({
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: 0,
                            plotShadow: false
                        },
                        title: {
                            text: 'Points Distribution',
                            align: 'left',
                            widthAdjust: 0,
                            x: 7,
                            margin: 50,
                            style: chartTitleStyles,
                        },
                        subtitle: {
                            text: 'Here you can see what actions caused your current points portfolio',
                            align: 'left',
                            widthAdjust: 7,
                            x: 7,
                            y: 55,
                            style: chartSubtitleStyles,
                        },
                        navigation: chartTitleOptions,
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions: {
                            pie: {
                                dataLabels: {
                                    enabled: true,
                                    distance: 30,
                                    style: {
                                        fontWeight: 'bold',
                                        color: 'white',
                                        textShadow: 'unset'
                                    }
                                },
                                center: ['50%', '50%'],
                                showInLegend: true,
                            },
                            series: {
                                dataLabels: {
                                    enabled: true,
                                    color: '#bcbcbc',
                                    borderWidth: 0,
                                    shadow: false,
                                    style: {
                                      fontWeight: '700',
                                      fontSize: '12px',
                                      textShadow: false,
                                      textOutline: 0
                                    },
                                  formatter: function(){
                                    var pcnt = (this.y / this.series.data.map(p => p.y).reduce((a, b) => a + b, 0)) * 100;
                                    return Highcharts.numberFormat(pcnt, 1) + '%';
                                  }
                                }
                            }
                        },
                        legend: legendOptions,
                        series: [{
                            type: 'pie',
                            name: 'Points share',
                            innerSize: '50%',
                            data: events
                        }]
                    });
                }
            );
            $.get(
                "/api/v0/badges/",
                data={"username": "{{ request.user.username }}"},
                function( data ) {
                    var badge_count = Object.keys(data).length
                    if (badge_count < 3) {
                        $('#badge-count').text(badge_count + ' of ' + badge_count);
                    }
                    else {
                        $('#badge-count').text("3 of " + badge_count);
                    }
                    for (let i=0; i<3; i++) {
                        var progressItems = '';
                        let key = Object.keys(data)[i];
                        if (data[key] !== undefined) {
                            if (data[key].done) {
                                $('#container-badges').append(
                                    `<div class="BadgeItem">
                                        <div class="BadgeItemFigure">
                                            <img src="${data[key].url}" alt="" class="BadgeItemFigure-Image">
                                        </div>
                                        <div class="BadgeItem-Name">${key}</div>
                                    </div>`
                                );
                            }
                            else {
                                if (Object.keys(data[key].progress).length > 0) {
                                    progressItems += '<div class="BadgeItemPopup"><div class="BadgeItemPopup-Head">'+key+'</div><div class="BadgeItemPopup-Body"><ul class="BadgeItemPopupList">';
                                    for (let i = 0, itemLen = Object.keys(data[key].progress).length; i < itemLen; ++i) {
                                        progressItems += '<li class="BadgeItemPopupList-Item"><span class="BadgeItemPopupList-Counter">'+data[key].progress[Object.keys(data[key].progress)[i]].count+'/'+data[key].progress[Object.keys(data[key].progress)[i]].goal+'</span>  '+Object.keys(data[key].progress)[i].substr(0, 1).toUpperCase()+Object.keys(data[key].progress)[i].substr(1)+'</li>'
                                    }
                                    progressItems += '</ul></div></div> '
                                }
                                $('#container-badges').append(
                                    `<div class="BadgeItem">
                                        <div class="BadgeItemFigure BadgeItemFigure_disable">
                                            <img src="${data[key].url}" alt="" class="BadgeItemFigure-Image">
                                        </div>
                                        <div class="BadgeItem-Name">${key}</div>
                                            ${progressItems}
                                    </div>`
                                );
                            }
                        }
                    }
                }
            );
            $.get(
                "/api/v0/user-statuses/",
                data={"username": "{{ request.user.username }}"},
                function( data ) {
                    var status_count = Object.keys(data).length;
                    var user_badge_count = status_count;
                    if (user_badge_count < 3) {
                        $('#user-statuses-count').text(user_badge_count + ' of ' + user_badge_count);
                    }
                    else {
                        $('#user-statuses-count').text("3 of " + user_badge_count)
                    }
                    for (var i=0; i < 3; i++) {
                        var progressItems = '';
                        let key = Object.keys(data)[i];
                        if (data[key] !== undefined) {
                            if (data[key].progress / data[key].status_points >= 1){
                                $('#container-statuses').append(
                                    `<div class="BadgeItem">
                                        <div class="BadgeItemFigure">
                                            <img src="${data[key].url}" alt="" class="BadgeItemFigure-Image">
                                        </div>
                                        <div class="BadgeItem-Name">${data[key].slug}</div>
                                    </div>`
                                )
                            }
                            else {
                                $('#container-statuses').append(
                                `<div class="BadgeItem">
                                    <div class="BadgeItemFigure BadgeItemFigure_disable">
                                        <img src="${data[key].url}" alt="" class="BadgeItemFigure-Image">
                                    </div>
                                    <div class="BadgeItem-Name">${data[key].slug}</div>

                                        <div class="BadgeItemPopup">
                                            <div class="BadgeItemPopup-Head">${data[key].slug}
                                        </div>
                                            <div class="BadgeItemPopup-Body">
                                            <ul class="BadgeItemPopupList">
                                                <li class="BadgeItemPopupList-Item">
                                                    <span class="BadgeItemPopupList-Counter">

                                                        ${data[key].progress}/${data[key].status_points}
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>'
                                </div>`
                                );
                                }
                        }
                    }
                }
            );
            $.get(
                "/api/v0/statuses/",
                function( data ) {
                    var status_lines = [];
                    var left = [];
                    var right = [];
                    for (i in data) {
                        if (data[i].status_points <= points.points) {
                            left.push(data[i].status_points);
                        }
                        else if (data[i].status_points > points.points) {
                            right.push(data[i].status_points);
                        }
                        status_lines.push({
                          color: data[i].status_color,
                          dashStyle: 'longdashdot',
                          value: data[i].status_points,
                          width: 1,
                          label: {text: data[i].title, rotation: 0, x: -15, y: -10, style: {color: '#bcbcbc',fontFamily: 'Exo2'}}
                        });
                    }
                    if (left.length == 0) {
                        var min_value = points.points - 40;
                    }
                    else {
                        var min_value = Math.max(...left) - 40;
                    }
                    if (right.length == 0) {
                        var max_value = points.points + 20;
                    }
                    else {
                        var max_value = Math.min(...right) + 20;
                        var points_to_status = max_value - points.points - 20;
                    }
                    if (min_value < 0) {
                        min_value = 0;
                    }
                    $('#container-progress').highcharts({
                        chart: {
                            type: 'bar'
                        },
                        title: {
                          text: 'Status Roadmap',
                          align: 'left',
                          widthAdjust: 0,
                          x: 7,
                          margin: 50,
                          style: chartTitleStyles,
                        },
                        subtitle: {
                            text: 'Here you can track your status progress: see how many points you have so far and how much is left for each status',
                            align: 'left',
                            widthAdjust: -7,
                            x: 7,
                            y: 55,
                            style: chartSubtitleStyles,
                        },
                        navigation: chartTitleOptions,
                        xAxis: {
                            categories: [''],
                            title: {
                                text: null
                            },
                            tickWidth: 0,
                            lineColor: '#aaa',
                        },
                        yAxis: {
                            min: min_value,
                            max: max_value,
                            title: {
                              text: null,
                            },
                            labels: {
                                overflow: 'justify',
                                style: {
                                  color: '#bcbcbc'
                                }
                            },
                            plotLines: status_lines,
                            gridLineColor: '#6c6d6e',
                            gridLineDashStyle: 'dash',
                            lineColor: '#aaa',
                            lineWidth: 1,
                        },
                        tooltip: {
                            shared: true,
                            useHTML: true,
                            formatter: function() {
                                tooltip_html = 'Points to next status: '+'<b>'+points_to_status+'</b>';
                                tooltip_html += "<table>";

                                this.points.forEach(function(entry) {
                                    tooltip_html += '<tr><td style="font-weight:bold; color:'+ entry.series.color +'">'+ entry.series.name +':</td><td style="text-align: right"> '+entry.y+'</td></tr>';
                                });

                                tooltip_html += "</table>";

                                return tooltip_html;
                            },
                        },
                        plotOptions: {
                            bar: {
                                dataLabels: {
                                    enabled: true,
                                    style: {
                                        fill: 'transparent'
                                    }
                                }
                            },
                          series: {
                            borderColor: '#aaa',
                            borderRadius: 3,
                            dataLabels: {
                              enabled: true,
                              color: '#fafafa',
                              style: {
                                fontWeight: 'bold',
                                textOutline: 'none',
                                fontFamily: 'Exo2',
                              }
                            }
                          }
                        },
                        credits: {
                            enabled: false
                        },
                        legend: legendOptions,
                        series: [{
                            name: 'Progress',
                            data: [points.points],
                            borderColor: '#aaa',
                            borderRadius: 3,
                            dataLabels: {
                                enabled: true,
                                color: '#fafafa',
                                style: {
                                    fontWeight: 'bold',
                                    textOutline: 'none',
                                    fontFamily: 'Exo2',
                                    textShadow: '-1px 0px 2.75px rgba(0, 0, 0, 0.6)',
                                }
                            }
                        }]
                    });
                }
            );
        }
    );
});
</script>
<script>
$(function () {
    $.get(
        "/api/v0/progress/",
        data={"username": "{{ request.user.username }}"},
        function( data ) {
            var points_by_day = [];
            var accumulative_data = [];
            for (var i in data) {
                points_by_day.push([Date.parse(data[i].date), data[i].points]);
                var accum = 0;
                if (accumulative_data.length != 0) {
                    accum = accumulative_data[accumulative_data.length-1][1] + data[i].points;
                }
                else {
                    accum = data[i].points;
                }
                accumulative_data.push([Date.parse(data[i].date), accum]);
            }
            chartTitleOptions.buttonOptions.x = 86;
            $('#container-progress-accumulated').highcharts({
                chart: {
                    type: 'spline',
                    spacingLeft: 100,
                    spacingRight: 100
                },
                title: {
                    text: 'Progress Tracker',
                    align: 'left',
                    widthAdjust: 0,
                    x: -86,
                    margin: 50,
                    style: chartTitleStyles,
                },
                subtitle: {
                    text: 'See the dynamics of your activities and points acquisition through time  ',
                    align: 'left',
                    widthAdjust: -7,
                    x: -86,
                    y: 55,
                    style: chartSubtitleStyles,
                },
                navigation: chartTitleOptions,
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        month: '%e. %b',
                        year: '%b'
                    },
                    title: {
                        text: null
                    },
                    tickWidth: 0,
                    lineColor: '#aaa',
                    labels: {
                        style: {
                            color: '#bcbcbc',
                            textTransform: 'uppercase'
                        }
                    }
                },
                yAxis: [{
                    title: {
                        text: null
                    },
                    labels: {
                        align: 'left',
                        x: -40,
                        y: 5,
                        format: '{value:.,0f}',
                        style: {
                            color: '#bcbcbc'
                        }
                    },
                    showFirstLabel: false,
                    gridLineColor: '#6c6d6e',
                    gridLineDashStyle: 'dash',
                    lineColor: '#aaa',
                    lineWidth: 1,
                }, {
                    gridLineWidth: 0,
                    opposite: true,
                    title: {
                        text: null
                    },
                    labels: {
                        align: 'right',
                        x: 40,
                        y: 5,
                        format: '{value:.,0f}',
                        style: {
                            color: '#bcbcbc'
                        }
                    },
                    showFirstLabel: false
                }],
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x:%e. %b}: {point.y:.2f}'
                },

                plotOptions: {
                    spline: {
                        marker: {
                            enabled: true
                         }
                     }
                },
                legend: legendOptions,
                series: [{
                    name: 'Points',
                    type: 'column',
                    data: points_by_day,
                    borderColor: '#aaa',
                    borderRadius: 3,
                    dataLabels: {
                        enabled: false,
                        color: '#fafafa',
                        style: {
                            fontWeight: 'bold',
                            textOutline: 'none',
                            fontFamily: 'Exo2',
                        }
                    }
                },
                {
                    name: 'Progress',
                    type: 'area',
                    yAxis: 1,
                    data: accumulative_data,
                    borderColor: '#aaa',
                    borderRadius: 3,
                    dataLabels: {
                        enabled: false,
                        color: '#fafafa',
                        style: {
                            fontWeight: 'bold',
                            textOutline: 'none',
                            fontFamily: 'Exo2',
                        }
                    }
                }]
            });
        }
    );
});
</script>

</head>
<body class="html front not-logged-in no-sidebars page-node page-node- page-node-3332104 node-type-page-landing-with-hero i18n-en lang-en main-page">
    <div class="header-nav-wrap">

    <div class="container logo-container header-navbar">
    <ul class="menu global-nav pull-right">
        <li class="last leaf"><a href="/">{% trans "Dashboard" %}</a></li>
        <li class="last leaf"><a href="#leaderboard">{% trans "Leaderboard" %}</a></li>
        {% if not user.is_authenticated %}
        <li class="last leaf"><a href=admin/login>{% trans "Login" %}</a></li>
        {% else %}
        <li class="last leaf"><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
        {% endif %}
    </ul>
    <section id="navbar" class="main-navigation navbar navbar-static-top visible-desktop clearfix">
    </div>
</section>
</div>
</div>
<div class="page-title">
    <h1 class="hidden"></h1>
</div>

</section>

<div class="main-container container">
    <div id="root"> </div>
    {% block content %}{% endblock %}
</div>

<!-- NOTE: [test] on http://0.0.0.0:9000/, modal shows up upon click on "MORE BADGES", "MORE STATUSES"; badges images are loaded  -->
{% render_bundle 'runtime' 'js' %}
{% render_bundle 'vendors' 'js' %}
{% render_bundle 'admin_panel' 'js'  %}
<!--{% render_bundle 'core' 'css' %}-->
<!--<script src="{% static 'core/js/bundle.js' %}"></script>-->

<noscript>&lt;style type="text/css" media="all"&gt;img[data-src] { display: none !important; }&lt;/style&gt;</noscript>
</body></html>
