{% extends "base_new.html" %}
{% load i18n fb_versions googlecharts %}
{% block content %}

{% if not user.is_authenticated %}

<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid demo-content">
    You need to authenticate in order to see you achievements.
    <div class="login-button-container">
        <a href="{% url 'login' %}"><button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">{% trans "Login" %}</button></a>
    </div>
  </div>
</main>

{% else %}

<div class="chart-holder" style="display:flex; max-width:1180px; margin:0 auto; padding: 20px 0 0;">
  <div id="container-chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
  <div id="container-progress" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
  <div id="container-badges" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
</div>

{% endif %}
{% endblock %}
