{% extends "base.html" %}
{% load i18n googlecharts %}
{% block content %}

{% if not user.is_authenticated %}


<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid demo-content">
    {% trans "You need to authenticate in order to see you achievements." %}
    <div class="login-button-container">
        <a href=admin/login><button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">{% trans "Login" %}</button></a>
    </div>
  </div>
</main>

{% else %}


<div class="ChartHolder">
    <div class="ChartHolderRow">
      <div id="container-chart" class="ChartBlock ChartBlock_first"></div>
      <div id="container-progress" class="ChartBlock ChartBlock_second"></div>
    </div>
    <div class="ChartHolderRow">
        <div class="ChartBlock">
            <div class="ChartBlockHeader">
                <div class="ChartBlock-Title">{% trans "Your badges" %}</div>
                <div class="ChartBlock-Status"><span id="badge-count"></span></div>
                <div class="ChartBlock-Description"></div>
            </div>
            <div class="BadgesList" id="container-badges">
            </div>
            <div class="ChartControls">
                <a href="#more/badges/{{request.user.username}}" class="Btn Btn_info Btn_medium">{% trans "More badges" %}</a>
            </div>
        </div>
        <div class="ChartBlock">
            <div class="ChartBlockHeader">
                <div class="ChartBlock-Title">{% trans "Your statuses" %}</div>
                <div class="ChartBlock-Status"><span id="user-statuses-count"></span></div>
                <div class="ChartBlock-Description"></div>
            </div>
            <div class="BadgesList" id="container-statuses">
            </div>
            <div class="ChartControls">
                <a href="#more/user-statuses/{{request.user.username}}" class="Btn Btn_info Btn_medium">{% trans "More statuses" %}</a>
            </div>
        </div>
    </div>
    <div id="container-progress-accumulated" class="ChartBlock ChartBlock_full ChartBlock_last"></div>
</div>

{% endif %}
{% endblock %}
