{% extends "base_new.html" %}
{% load i18n googlecharts %}
{% block content %}

{% if not user.is_authenticated %}


<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid demo-content">
    You need to authenticate in order to see you achievements.
    <div class="login-button-container">
        <a href=admin/login><button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">{% trans "Login" %}</button></a>
    </div>
  </div>
</main>

{% else %}


<div class="ChartHolder">
    <div class="ChartHolderRow">
      <div id="container-chart" class="ChartBlock ChartBlock_first"></div>
      <div id="container-progress" class="ChartBlock ChartBlock_second"></div>
    </div>
    <div class="ChartHolderRow">
        <div class="ChartBlock">
            <div class="ChartBlockHeader">
                <div class="ChartBlock-Title">Your badge pack</div>
                <div class="ChartBlock-Status">3 of 10</div>
                <div class="ChartBlock-Description">Web accessibility testing is a subset of usability testing where</div>
            </div>
            <div class="BadgesList">
                <div class="BadgeItem">
                    <div class="BadgeItemFigure">
                        <img src="" alt="" class="BadgeItemFigure-Image">
                    </div>
                    <div class="BadgeItem-Name">Badge name</div>
                </div>
                <div class="BadgeItem">
                    <div class="BadgeItemFigure">
                        <img src="" alt="" class="BadgeItemFigure-Image">
                    </div>
                    <div class="BadgeItem-Name">Badge name</div>
                </div>
                <div class="BadgeItem">
                    <div class="BadgeItemFigure">
                        <img src="" alt="" class="BadgeItemFigure-Image">
                    </div>
                    <div class="BadgeItem-Name">Badge name</div>
                </div>
            </div>
            <div class="ChartControls">
                <a href="#" class="Btn Btn_info Btn_medium">More badges</a>
            </div>
        </div>
        <div class="ChartBlock">
            <div class="ChartBlockHeader">
                <div class="ChartBlock-Title">Your badge pack</div>
                <div class="ChartBlock-Status">3 of 10</div>
                <div class="ChartBlock-Description">Web accessibility testing is a subset of usability testing where</div>
            </div>
            <div class="BadgesList">
                <div class="BadgeItem">
                    <div class="BadgeItemFigure BadgeItemFigure_disable">
                        <img src="" alt="" class="BadgeItemFigure-Image">
                    </div>
                    <div class="BadgeItem-Name">Badge name</div>
                </div>
                <div class="BadgeItem">
                    <div class="BadgeItemFigure BadgeItemFigure_disable">
                        <img src="" alt="" class="BadgeItemFigure-Image">
                    </div>
                    <div class="BadgeItem-Name">Badge name</div>
                </div>
                <div class="BadgeItem">
                    <div class="BadgeItemFigure BadgeItemFigure_disable">
                        <img src="" alt="" class="BadgeItemFigure-Image">
                    </div>
                    <div class="BadgeItem-Name">Badge name</div>
                </div>
            </div>
            <div class="ChartControls">
                <a href="#" class="Btn Btn_info Btn_medium">More badges</a>
            </div>
        </div>
    </div>
    <div id="container-progress-accumulated" class="ChartBlock ChartBlock_full ChartBlock_last"></div>
</div>

{% endif %}
{% endblock %}
