{% extends "base_new.html" %}
{% load i18n fb_versions googlecharts %}
{% block content %}

{% if not user.is_authenticated %}

<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid demo-content">
    You need to authenticate in order to see you achievements.
    <div class="login-button-container">
        <a href="{% url 'login' %}"><button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">{% trans "Login" %}</button></a>
    </div>
  </div>
</main>

{% else %}

<div class="chart-holder" style="max-width:1180px; margin:0 auto; padding: 20px 0 0;">
    <div class="chart-holder_row" style="display:flex;">
      <div id="container-chart" style="width: 35%; height: 400px;"></div>
      <div id="container-progress" style="width: 65%; height: 400px;"></div>
    </div>
    <div id="container-badges"></div>
</div>

{% endif %}
{% endblock %}
