{% extends "base_new.html" %}
{% load i18n googlecharts %}
{% block content %}

{% if not user.is_authenticated %}


<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid demo-content">
    You need to authenticate in order to see you achievements.
    <div class="login-button-container">
        <a href=admin/login><button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">{% trans "Login" %}</button></a>
    </div>
  </div>
</main>

{% else %}

<div class="chart-holder" style="max-width:1180px; margin:0 auto; padding: 20px 0 0;">
  <div>
  You rank is: {{ rank }}
  <div>
  <ul>
  {% for profile in data %}
    <li {% if request.user.id == profile.user.id %} style="background: yellow" {% endif %}># {{ forloop.counter }}: {{ profile.user.username }}: {{ profile.points }}</li>
  {% endfor %}
  </ul>
  </div>
</div>

{% endif %}
{% endblock %}
